/* Dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown button */
  .dropdown-button {
    background-color: #e2eaf0;
    color: rgb(10, 10, 10);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  /* Show dropdown content when dropdown is open */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Dropdown items */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }


  .sub-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    left: 100%;
    top: 0;
    z-index: 1;
  }
  
  /* Show sub-dropdown content when sub-dropdown is open */
  .sub-dropdown:hover .sub-dropdown-content {
    display: block;
  }
  